<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        
        @{ var myMessage = "Hello World"; }
        <p>The value of myMessage is: @myMessage</p>
    </body>
</html>
